body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: flex-start;
}

.canvas {
    background-color: #3e3e3e;
    box-shadow: 0 1px 10px #3e3e3e;
    margin-right: 10px;
}

.disabled-canvas {
    opacity: 0.5;
}

.operations {
    display: flex;
    flex-direction: column;
    width: 95px;
}

.score {
    margin-bottom: 15px;
}

button {
    margin-bottom: 10px;
    height: 25px;
    background-color: #55c4d0;
    border: none;
    box-shadow: 0 1px 5px #55c4d0;
    outline: none;
    cursor: pointer;
    color: #fff;
}

.operatingInstruction {
    margin-top: 15px;
    background: #55c4d0;
    width: 400px;
    box-shadow: 0 1px 10px #55c4d0;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}s

button:active {
    transform: scale(0.8);
}

.gameoverMsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
}

.operatingImage {
    height: 50px;
    margin: 5px;
}

.operatingText {
    margin-left: 10px;
    font-size: medium;
}